

.wrapper-new {
  display: flex; /* Cambia grid a flex para que los elementos se coloquen uno al lado del otro */
  justify-content: space-between; /* Para distribuir los elementos equitativamente */
  align-items: center; /* Para alinear verticalmente los elementos en el centro */
  margin: 4px;
  height: 500px;


}

.card-new {
  position: relative;
  grid-area: card;
  align-self: center;
  justify-self: center;
  overflow: hidden;
  display: block;
  width: 100%;
  max-width: 450px;
  height: 420px;
  font-size: 20px;
  border-radius: 8px;
  box-shadow: 0 16px 60px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.card-new:hover {
  box-shadow: 0 2px 20px rgba(255, 255, 255, 0.6);
  -webkit-transform: scale(1.0, 1.0);
  transform: scale(1.06, 1.06);
}

.card__save-new {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 35px;
  height: 35px;
  background: transparent;
  border: 0;
  opacity: 0;
  border-radius: 3px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}



.card__save-new i {
  font-size: 18px;
  color: rgba(6, 6, 6, 0.6);
  cursor: pointer;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.card__save-new:hover i {
  color: rgba(255, 255, 255, 0.8);
}

.card__save-new:active,
.card__save-new.active {
  opacity: 1 !important;
}

.card__save-new:active i,
.card__save-new.active i {
  color: white;
}

.card__image-new {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: black;
}

.card__image-new img {
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
  display: block;
  max-width: 100%; /* Establece un ancho máximo del 100% para las imágenes */
  height: 100%;
  object-fit: contain; /* Ajusta las imágenes manteniendo la proporción */
  opacity: 1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  animation-name: zoom;
  animation-duration: 30s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.card-new:hover .card__image-new img {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: .1;
}

.card__header-new {
  display: grid;
  width: 100%;
  height: 20px;
}

.card__profile-new {
  align-self: center;
  justify-self: center;
  display: block;
  overflow: hidden;
  width: 10vmax;
  height: 10vmax;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
}

.card__profile-new img {
  -webkit-transform: scale(1.5, 1.5) translateZ(0);
  transform: scale(1.5, 1.5) translateZ(0);
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  -webkit-filter: grayscale(50%) contrast(75%) brightness(1.3);
  filter: grayscale(50%) contrast(75%) brightness(1.3);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  mix-blend-mode: normal;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-new:hover .card__profile-new img {
  -webkit-transform: scale(1, 1) translateZ(0);
  transform: scale(1, 1) translateZ(0);
}

.card__body-new {
  display: grid;
  padding: 0 20px;
}

.card__name-new {
  color: rgb(0, 0, 0);
  font-size: 25px;
  text-align: center;
  background-color:#F0D422;
  border-radius: 5px;
  margin-top: 10px; /* Ajusta el valor según la separación deseada */
  transition: all 1s ease;
}

.card-new:hover .card__name-new {
  background: -webkit-linear-gradient(F0D422, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card__job-new {
  margin: 2px;
  align-self: center;
  justify-self: center;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.1rem;
  color: transparent;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  
}
.card__job-new2{
  margin: 2px;
  align-self: center;
  justify-self: center;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.1rem;
  color:transparent;
  -webkit-transition:all 1s ease;
  transition: all 1s ease;
  
}
.card__job-new3{

  margin: 2px;
  align-self: center;
  justify-self: center;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.1rem;
  color:transparent;
  -webkit-transition:all 1s ease;
  transition: all 1s ease;
}

.card-new:hover .card__job-new3 {
  color: rgb(255, 255, 255);
  transform: translateY(200px); /* Mueve el elemento hacia abajo */
  font-size: 20px;


}
.card-new:hover .card__job-new2 {
  color: rgb(233, 255, 65);
  transform: translateY(200px); /* Mueve el elemento hacia abajo */
  font-size: 10px;


}

.card-new:hover .card__job-new {
  color: rgb(255, 255, 255);
  
  
  
}



.enlacecard {
  background: transparent; /* Establece el fondo del enlace como transparente */
  text-decoration: none; /* Quita la subrayado predeterminado en los enlaces */
  /* Puedes agregar otros estilos según tus necesidades, como color de texto o efectos de transición */
}





