/* Estilo base de la tarjeta */
.card {
    /* Establece tus estilos base aquí */
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    box-shadow: 0 6px 2px rgba(0, 0, 0, 0.2)
  }
  
  /* Establece los estilos para el hover */
  .card:hover {
    transform: scale(1.05); /* Otra opción: cambiar el tamaño de la tarjeta */
    box-shadow: 0 6px 2px rgba(0, 0, 0, 0.2); /* Cambia la sombra de la tarjeta */
    background-color: #cfcfcf; /* Cambia el color de fondo de la tarjeta */
  }

  .card-body{
    height: 600px;
    border: none; /* Elimina el borde */
    
    transition: box-shadow 0.3s ease; /* Agrega una transición suave al efecto de sombra */
  
    /* Añade un margen inferior para separar las tarjetas */
    margin-bottom: 20px;
  }
 
  .whatsapp-button {
    display: inline-block;
    text-decoration: none;
    background-color: #25d366; /* Color de fondo del botón de WhatsApp */
    color: #fff; /* Color del texto */
    padding: 10px 20px; /* Espaciado interior del botón */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center; /* Centrar horizontalmente el contenido */
    transition: background-color 0.3s; 
  }
  
  .whatsapp-content {
    display: flex;
    align-items: center; 
    justify-content: center; 
  }
  
  .whatsapp-icon {
    font-size: 24px; 
    margin-right: 5px; 
  }
  
  .whatsapp-button:hover {
    background-color: #128c7e;
  }
  @media (max-width: 1180px) {
    .card {
      display: flex;
      flex-direction: column;
    }
  
    .card-body {
      /* Ajusta el tamaño del cuerpo de la tarjeta en pantallas pequeñas */
      height: auto;
    }
  
    .whatsapp-button {
      /* Ajusta el ancho del botón en pantallas pequeñas */
      width: 100%;
    }
    
  }