.carousel-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, 100%);
  text-align: center;
}
  @media (max-width: 768px) {
    .carousel-content {
     
      transform: translate( -7%, 30%);
     
    }
  }
  .botonmagico {
    background-color: #F0D422;
    cursor: pointer;
    border: none;
    padding: 20px 30px; /* Ajusta el tamaño del botón aquí para pantallas grandes */
    color: rgb(0, 0, 0);
    font-size: 20px; /* Ajusta el tamaño del texto aquí para pantallas grandes */
    font-weight: bold;
    position: relative;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Poppins, sans-serif';
    margin: 0 ; /* Centra horizontalmente el botón */
   right:  33px;
  }
  @media (max-width: 720px) {
    .botonmagico {
      margin: 0 auto; /* Centra horizontalmente el botón en pantallas pequeñas */
      right: 72px; /* Elimina el desplazamiento hacia la derecha en pantallas pequeñas */
    }
  }
  