#logo {
    filter: brightness(0) invert(1); /* Invertir colores de la imagen (opcional) */
   
   
}
.hecho{
  margin-left: 20px;
}

.icono-social2{
  margin: 10px;
 color: aliceblue;
 width: 40px;
 height: 33px;
}

@media (max-width: 768px) {
  .redes-sociales {
    display: flex;
    justify-content: center;
  }

  .icono-social2 {
    margin-right: 0px;
    justify-content: center !important;
    margin-left: 25px;
  }
}