.contenedorformulario{
    background-color: #fafafa;
    margin-bottom: 50px;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 1px 1px 8px 1px rgb(171, 171, 171);
    transition: background-color 0.6s; 
    
}
.contenedorformulario:hover {
    background-color: #c2c2c2; /* Cambia el color de fondo en hover */
    
  }

.form-control{
    border: 0;
   border-bottom: 1px solid rgb(93, 93, 93);
    border-radius: 0px;
    background-color:#fafafa;
}

/* Estilo para el botón en estado normal */
.btn-success {
    background-color: #4a4a4a;
    color: rgb(255, 255, 255);
    font-size: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Agrega una transición suave al color de fondo */
  }
  
  /* Estilo para el botón en estado hover (cuando el mouse está sobre el botón) */
  .btn-success:hover {
    background-color: #F0D422; /* Cambia el color de fondo en hover */
    color: #000000;
  }
  
  /* Estilo para los iconos de redes sociales en estado normal */
  .icono-social {
    margin: 10px;
    font-size: 32px;
    color: #000000;
    transition: color 0.3s; /* Agrega una transición suave al color del icono */
  
  }
  
  /* Estilo para los iconos de redes sociales en estado hover (cuando el mouse está sobre el icono) */
  .icono-social:hover {
    color: #F0D422; /* Cambia el color del icono en hover */
  }

  .logoformulario {
    max-width: 40%; /* Ajusta el ancho máximo de la imagen al 50% del contenedor */
    height: auto; /* Mantiene la proporción de aspecto */
    display: block; /* Asegura que la imagen se comporte como un bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente */
  
  }
  
  .input-group-text {
   
    border: 0;
    color: #fafafa;
    background-color: #4a4a4a;
  }
  .input-group-text:hover {
    background-color: #F0D422;
  }

  .dark-mode .contenedorformulario {
    background-color: black;
    /* Otros estilos para el modo oscuro */
  }
  
  .dark-mode .icono-social {
    color: white;
    /* Otros estilos para el modo oscuro */
  }
  .dark-mode .logoformulario {
    filter: brightness(0) invert(1);
    /* El filtro `brightness(0)` hace que toda la imagen sea negra (0% de brillo).
       `invert(1)` invierte los colores, lo que hará que la imagen se vuelva blanca. */
  }
  .dark-mode .contenedorformulario {
    background-color: #000000; /* Cambia el color de fondo del contenedor en modo oscuro */
  }
  

  .dark-mode .contenedorformulario:hover {
    background-color: #191919; /* Cambia el color de fondo en hover */
    
  }

  .dark-mode .contenedorformulario:hover .form-control:hover {
    background-color: #d9d9d9; /* Cambia el color de fondo de los input a gris en hover en modo oscuro */
  }
  .contenedorformulario:hover .form-control:hover {
    background-color: #d9d9d9; /* Cambia el color de fondo de los input a gris en hover en modo oscuro */
  }