.contenedorformulario{
    background-color: #fafafa;
    margin-bottom: 50px;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 1px 1px 8px 1px rgb(171, 171, 171);
    transition: background-color 0.6s; 
    
}
.contenedorformulario:hover {
    background-color: #c2c2c2; /* Cambia el color de fondo en hover */
    
  }

.form-control{
    border: 0;
   border-bottom: 1px solid rgb(93, 93, 93);
    border-radius: 0px;
    background-color:#fafafa;
}

/* Estilo para el botón en estado normal */
.btn-success {
    background-color: #4a4a4a;
    color: rgb(255, 255, 255);
    font-size: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Agrega una transición suave al color de fondo */
  }
  
  /* Estilo para el botón en estado hover (cuando el mouse está sobre el botón) */
  .btn-success:hover {
    background-color: #fbfb1e; /* Cambia el color de fondo en hover */
    color: #000000;
  }
  
  /* Estilo para los iconos de redes sociales en estado normal */
  .icono-social {
    margin: 10px;
    font-size: 24px;
    color: #000000;
    transition: color 0.3s; /* Agrega una transición suave al color del icono */
  
  }
  
  /* Estilo para los iconos de redes sociales en estado hover (cuando el mouse está sobre el icono) */
  .icono-social:hover {
    color: #fbfb1e; /* Cambia el color del icono en hover */
  }

