/* CSS para el modo claro */
.light-mode {
  background-color: #fff; /* Cambia el fondo en modo claro */
  color: #000; /* Cambia el color del texto en modo claro */
}

/* CSS para el modo oscuro */
.dark-mode {
  background-color: #000; /* Cambia el fondo en modo oscuro */
  color: #fff; /* Cambia el color del texto en modo oscuro */
}

/* Estilo para invertir colores en modo oscuro */
.invert-image {
  filter: invert(1);
}
.contenedor-modooscuro {
  position: relative;
  z-index: 1002; /* Un valor más alto que el del navbar para que quede por encima */
}
.light-mode .navbar-nav .nav-link {
  color: #000; /* Cambia el color del texto en modo claro */
}

/* Estilos para el modo oscuro */
.dark-mode .navbar-nav .nav-link {
  color: #fff; /* Cambia el color del texto en modo oscuro */
}
.navbar-transparent {
  background-color: transparent; /* Fondo transparente */
  
}

/* Estilos para el menú desplegable en pantalla pequeña y modo oscuro */
@media (max-width: 768px) {
  .dark-mode .navbar-collapse {
    background-color: #333; /* Cambia el fondo en modo oscuro */
    border-radius: 10px;
    text-align: center;
    border: 1px solid #fff; /* Cambia el color del borde en modo oscuro (blanco) */
    /* Otros estilos específicos para el menú desplegable en modo oscuro y pantalla pequeña */
  }
}
