/* CSS para el modo claro */
.light-mode {
  background-color: #fff; /* Cambia el fondo en modo claro */
  color: #000; /* Cambia el color del texto en modo claro */
}

/* CSS para el modo oscuro */
.dark-mode {
  background-color: #000; /* Cambia el fondo en modo oscuro */
  color: #fff; /* Cambia el color del texto en modo oscuro */
}

/* Estilo para invertir colores en modo oscuro */
.invert-image {
  filter: invert(1);
}
.contenedor-modooscuro {
  position: relative;
  z-index: 1002; /* Un valor más alto que el del navbar para que quede por encima */
}
.light-mode .navbar-nav .nav-link {
  color: #000; /* Cambia el color del texto en modo claro */
}

/* Estilos para el modo oscuro */
.dark-mode .navbar-nav .nav-link {
  color: #fff; /* Cambia el color del texto en modo oscuro */
}
.navbar-transparent {
  background-color: transparent; /* Fondo transparente */
  
}