
  
.navbar {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Valor alto para asegurarte de que esté encima del contenido */
 
  /* Agrega otros estilos de tu elección, como altura, fuente, colores, márgenes, etc. */
}
.logo-img {
  width: 120px; /* Ajusta el ancho máximo de la imagen según tus necesidades */
  height: 110px; /* Ajusta la altura máxima de la imagen según tus necesidades */
  margin-left: 50px;
}

/* Estilo para los enlaces en la barra de navegación */
ul li a {
  position: relative;
  display: block;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #262626;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
  transition: 0.5s;
  z-index: 1;
  
}

ul li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  transform: scaleY(2);
  opacity: 0;
  transition: 0.3s;
}

ul li a:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F0D422;
  transform: scale(0);
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}

ul li a:hover:before,
ul li a:focus:before {
  transform: scaleY(1);
  opacity: 1;
}

ul li a:hover:after,
ul li a:focus:after {
  transform: scaleY(1);
  opacity: 1;
}

.navbar-nav li a {
  font-weight: 700; /* Ajusta el valor según tus necesidades */
  font-size: 16px;
 
}
/* Estilo para alinear elementos a la derecha en la barra de navegación */
.navbar-nav li.nav-item.ml-auto {
  margin-left: 500px;
}

@media (max-width: 768px) {
  .navbar-toggler {
    background-color:#F0D422;
  }

  .navbar-collapse {
    background-color: #efefef;
    border-radius: 10px;
    text-align: center;
    border: 1px solid rgb(167, 167, 167);
  }

  /* Estilo para el logo en pantalla pequeña */
  .logo-img {
    width: 60px; /* Ajusta el tamaño del logo según tus necesidades en pantalla pequeña */
    height: 55px; /* Ajusta la altura del logo según tus necesidades en pantalla pequeña */
    margin-left: 10px; /* Agrega un margen a la izquierda para mover el logo hacia la izquierda */
  }
}

