/* textanimation2.css */
.text-animation-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 120px;
  background-color: #000000;
  overflow: hidden;
  position: relative; /* Importante para que el texto pueda rebobinar */
  border: 0;
}

.animated-text {
  font-size: 38px;
  color: transparent; /* Hace que el texto sea transparente */
  -webkit-text-stroke: 1px #f1e20f; /* Añade un contorno blanco de 1px alrededor del texto */
  position: absolute;
  white-space: nowrap;
}

.animated-word {
  margin-right: 90px; /* Espacio entre palabras */
}

.animated-text:first-child {
  animation: scroll-in 40s linear infinite; /* Reduje la duración de la animación a 20 segundos */
  animation-delay: 0s; /* Agregué un retraso de 2 segundos para comenzar después de la carga */
  transform: translateX(100%);
}

.animated-text:last-child {
  animation: scroll-in 50s linear infinite;
  animation-delay: 0s; /* Sin retraso inicial para el segundo bloque */
  transform: translateX(100%); /* Comienza desde la derecha */
}

@keyframes scroll-in {
  0% {
    transform: translateX(100%); /* Inicia desde la derecha */
  }
  100% {
    transform: translateX(-100%); /* Termina en la izquierda */
  }
}
