/* textanimation2.css */
.text-animation-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 120px;
  background-color: rgba(243, 243, 243, 0.201);
  overflow: hidden;
  position: relative;
  border: 0;
  margin-bottom: 30px;
}

.animated-text {
  font-size: 88px;
  color: rgba(255, 252, 72, 0.008);
  -webkit-text-stroke: 2px #000000;
  position: absolute;
  white-space: nowrap;
  animation: scroll-in 120s linear infinite; /* Reduje la duraci칩n de la animaci칩n a 60 segundos */
  transform: translateX(100%);
}

.animated-word {
  margin-right: 90px; /* Espacio entre palabras */
}

@media (max-width: 768px) {
  .animated-text {
    font-size: 40px; /* Tama침o de fuente en pantallas peque침as */
  }
}


@keyframes scroll-in {
  0% {
    transform: translateX(100%); /* Inicia desde la derecha */
  }
  100% {
    transform: translateX(-100%); /* Termina en la izquierda */
  }
}
